[submodule "frontend-service-reference"]
	path = frontend-service-reference
	url = https://github.com/consultbibek-beep/frontend-service-reference.git
[submodule "textgen-service-reference"]
	path = textgen-service-reference
	url = https://github.com/consultbibek-beep/textgen-service-reference.git
